.cabecalho__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho__imagem{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}


.cabecalho__perfil{
    display: flex;
    padding: 2em 7.5em 2em 1em;
    align-items: center;
    gap: 1em;
}

.cabecalho__informacoes{
    display: flex;
    flex-direction: column;
    
}

.cabecalho__titulo{
    font-size: 1.37em;
    font-weight: 700;
    color: var(--cinza-principal);
    line-height: 2em;
}

.cabecalho__texto{
    font-size: .87em;
    color: var(--cinza-secundario);
    font-weight: 400;
}